<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <title>منصة مستر عبدالله الشهاوي</title>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="theme-color" content="#8e44ad">
    <meta name="description" content="منصة مستر عبدالله الشهاوي هي منصة تقدم لك شرح منظّم ودقيق مع سهولة الوصول لما تحتاجه.">
    <meta name="keywords" content="منصة مستر عبدالله الشهاوي, منصة, عبدالله الشهاوي, عربي, اللغة العربية, التعليم الثانوي, الثانوي, عربي ثانوية عامة, مستر عبدالله الشهاوي, المداد, منصة المداد التعليمية, ثانوية عامة, مصر">
    <meta name="author" content="Mr Abdullah Elshahawy">
    
    <link rel="icon" href="/assets/images/logo/navlogo.png">
    <link rel='stylesheet' type='text/css' href='/assets/style/all.min.css'>
    <link rel='stylesheet' type='text/css' href='/assets/style/bulma-rtl.css'>
    <link rel='stylesheet' type='text/css' href='/assets/style/main.css'>
</head>

<body>


    <div style="display: none" id="pageTitle"></div>
    <header class="navbar" role="navigation" aria-label="main navigation" class="linksMenu">
        <div class="navbar-brand">
            <a class="navbar-item logo" href="/">
                <img src="/assets/images/logo/navlogo.png">
            </a>
            <button class="navbar-burger" aria-label="menu" onclick="navshow()" wfd-invisible="true">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    
        <div id="navbarElements" class="navbar-menu navbarElements">
            <div class="navbar-start">
                <a href="/" whtpg="home" class="navbar-item"><i class="fas fa-home"></i><span>الرئيسية</span></a>
                <a href="/learn" whtpg="learn" class="navbar-item"><i class="fa-solid fa-tv"></i><span>المحاضرات</span></a>
                <a href="/books" whtpg="sheets" class="navbar-item"><i class="fa-solid fa-book"></i><span>الكتب</span></a>
            </div>
    
            <div class="navbar-end">
                <button class="button none navbar-item responsivePadd" showPop="notifications"><i class="fa-solid fa-bell"></i></button>
                <a class="navbar-item" whtpg="dashboard" href="/dashboard"><i class="fas fa-user-circle"></i></a>
                <div class="navbar-item">
                    <a href="/login" class="button is-purple70 is-outlined borderBold textBold"><i class="fa-regular fa-user"></i> الدخول \ الانضمام</a>
                </div>
            </div>
        </div>
    </header>

    <div class="smallNav is-flex is-justify-content-space-between is-align-items-center section">
        <p class="is-size-6 has-text-weight-medium">المحاضرة 1 - ستاتيكا برم برم</p>
        <a href="/learn/" class="arrow"><i class="fa-solid fa-chevron-left"></i></a>
    </div>

    <section class="lectureView">
        <div class="container">
            <div class="section lectureWatch noPaddBtm">
                <div class="buttons has-text-centered is-centered">
                    <button class="button is-centered is-purple50 is-semilarge" id="downloadVid">تحميل الفيديو</button>
                </div>
                <div class="videoConteainer">
                    <div class="media">
                        <div class="media-content is-fullwidth">
                            <figure class="image">
                                <iframe class="has-ratio" width="1000" height="400" src="https://www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>
                            </figure>
                            <!-- <video class="is-fullwidth" controls>
                                <source src="/assets/vid/1.mp4" type="video/mp4">
                            </video> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-multiline">

                <div class="column is-6">
                    <div class="descr">
                        <p class="title is-4 has-text-yellow90"><i class="fa-solid fa-tv"></i> محاضرات</p>
                        <div class="block">
                            <div class="columns is-multiline">

                                <a class="column is-6-desktop is-full-mobile" href="/x">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns is-mobile">
                                                <div class="column is-10 contenta">
                                                    <p class="is-size-55 has-text-weight-medium lecture-name">ملخص القانون الاول</p>
                                                    <p class="is-size-65">وصف او حجم الملف شوفو هتعملو ايه</p>
                                                </div>
                                                <div class="column is-2 takeBgPrp has-text-centered">
                                                    <i class="fa-solid fa-play is-size-3 is-paddingless"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <a class="column is-6-desktop is-full-mobile" href="/x">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns is-mobile">
                                                <div class="column is-10 contenta">
                                                    <p class="is-size-55 has-text-weight-medium lecture-name">ملخص القانون الاول</p>
                                                    <p class="is-size-65">وصف او حجم الملف شوفو هتعملو ايه</p>
                                                </div>
                                                <div class="column is-2 takeBgPrp has-text-centered">
                                                    <i class="fa-solid fa-play is-size-3 is-paddingless"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <a class="column is-6-desktop is-full-mobile" href="/x">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns is-mobile">
                                                <div class="column is-10 contenta">
                                                    <p class="is-size-55 has-text-weight-medium lecture-name">ملخص القانون الاول</p>
                                                    <p class="is-size-65">وصف او حجم الملف شوفو هتعملو ايه</p>
                                                </div>
                                                <div class="column is-2 takeBgPrp has-text-centered">
                                                    <i class="fa-solid fa-play is-size-3 is-paddingless"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="descr">
                        <p class="title is-4 has-text-yellow90"><i class="fa-regular fa-file-lines"></i> ملفات</p>
                        
                        <div class="block">
                            <div class="columns is-multiline">
                                <a class="column is-6-desktop is-full-mobile" href="/x">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns is-mobile">
                                                <div class="column is-10 contenta">
                                                    <p class="is-size-55 has-text-weight-medium lecture-name">ملخص القانون الاول</p>
                                                    <p class="is-size-65">وصف او حجم الملف شوفو هتعملو ايه</p>
                                                </div>
                                                <div class="column is-2 takeBgPrp has-text-centered">
                                                    <i class="fa-regular fa-file-lines is-size-2 is-paddingless"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
        
                                <a class="column is-6-desktop is-full-mobile" href="/x">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns is-mobile">
                                                <div class="column is-10 contenta">
                                                    <p class="is-size-55 has-text-weight-medium lecture-name">ملخص القانون الاول</p>
                                                    <p class="is-size-65">وصف او حجم الملف شوفو هتعملو ايه</p>
                                                </div>
                                                <div class="column is-2 takeBgPrp has-text-centered">
                                                    <i class="fa-regular fa-file-lines is-size-2 is-paddingless"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
        
                                <a class="column is-6-desktop is-full-mobile" href="/x">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns is-mobile">
                                                <div class="column is-10 contenta">
                                                    <p class="is-size-55 has-text-weight-medium lecture-name">ملخص القانون الاول</p>
                                                    <p class="is-size-65">وصف او حجم الملف شوفو هتعملو ايه</p>
                                                </div>
                                                <div class="column is-2 takeBgPrp has-text-centered">
                                                    <i class="fa-regular fa-file-lines is-size-2 is-paddingless"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="column is-6">
                    <div class="descr">
                        <p class="title is-4 has-text-yellow90"><i class="fa-solid fa-flask-vial"></i> امتحانات</p>
                        
                        <div class="block">
                            <div class="columns is-multiline">

                                <a class="column is-6-desktop is-full-mobile" href="/x">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns is-mobile">
                                                <div class="column is-10 contenta">
                                                    <p class="is-size-55 has-text-weight-medium lecture-name">ملخص القانون الاول</p>
                                                    <p class="is-size-65">وصف او حجم الملف شوفو هتعملو ايه</p>
                                                </div>
                                                <div class="column is-2 takeBgPrp has-text-centered">
                                                    <i class="fa-solid fa-vial is-size-3 is-paddingless"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
        
                                <a class="column is-6-desktop is-full-mobile" href="/x">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns is-mobile">
                                                <div class="column is-10 contenta">
                                                    <p class="is-size-55 has-text-weight-medium lecture-name">ملخص القانون الاول</p>
                                                    <p class="is-size-65">وصف او حجم الملف شوفو هتعملو ايه</p>
                                                </div>
                                                <div class="column is-2 takeBgPrp has-text-centered">
                                                    <i class="fa-solid fa-vial is-size-3 is-paddingless"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
        
                                <a class="column is-6-desktop is-full-mobile" href="/x">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="columns is-mobile">
                                                <div class="column is-10 contenta">
                                                    <p class="is-size-55 has-text-weight-medium lecture-name">ملخص القانون الاول</p>
                                                    <p class="is-size-65">وصف او حجم الملف شوفو هتعملو ايه</p>
                                                </div>
                                                <div class="column is-2 takeBgPrp has-text-centered">
                                                    <i class="fa-solid fa-vial is-size-3 is-paddingless"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

</body>
</html>
<script src='/assets/js/main.js'></script>
<script>
    let downloadVid = document.getElementById("downloadVid");
    let videoConteainer = document.querySelector(".videoConteainer")
    downloadVid.addEventListener('click', ()=>{
        videoConteainer.classList.add("show");
        downloadVid.remove()
    })
</script>